<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<div th:fragment="group" style="height: 100vh" class="bg-secondary">
    <div class="list-group list-group-flush" style="width: 200px;">
        <a href="/cabinet" class="list-group-item list-group-item-action bg-secondary text-white">Моя страница</a>
        <a href="/redactor" class="list-group-item list-group-item-action bg-secondary text-white">Редактировать</a>
        <a href="/friends" class="list-group-item list-group-item-action bg-secondary text-white">Мои друзья</a>
        <a href="/find_friends" class="list-group-item list-group-item-action bg-secondary text-white">Поиск друзей</a>
        <a href="/chat_list" class="list-group-item list-group-item-action bg-secondary text-white">Мои чаты</a>
        <a href="/news" class="list-group-item list-group-item-action bg-secondary text-white">Мои новости</a>
    </div>
</div>