<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>GiftsWeb!</title>
</head>
<body>
<div th:insert="fragments/navbar :: header"></div>
<div th:insert="fragments/listgroup :: group" style="display : inline-block; vertical-align: top;">
</div><div style="display : inline-block; vertical-align: top;">
  <h1>Список друзей</h1>
  <div th:insert="fragments/settings :: settings"></div>
  <h3 class="m-3">Заполните поля кпо которым хотите осуществить поиск</h3>
  <form th:object = "${friendInfo}" th:action="@{/find_friends}" method="post" id="search_friend">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label> Имя: </label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="first_name"/>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label> Фамилия: </label>
        <div class="col-sm-6">
          <input class="form-control" type="text" name="last_name"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-1 col-form-label"> Email:</label>
      <div class="col-sm-6">
        <input class="form-control" type="text" name="email"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-1 col-form-label"> Логин: </label>
      <div class="col-sm-6">
        <input class="form-control" type="text" name="login"/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary m-3">Искать</button>
  </form>
  <div th:if="${founded}">
    <h1>найденные люди</h1>
    <div th:each="friend : ${foundedUsers}">
      <a href="friend_page.html" th:href="@{/friend_page/{name}(name=${friend.username})}">
        <img th:if="${friend.getInfo().hasPhoto()}" th:src="${friend.getInfo().photo50}">
        <span hre th:text="${friend.getInfo().getFirstName()}"> </span>
        <span th:text="${friend.getInfo().getLastName()}"></span></a>
    </div>
  </div>
</div>
<div th:insert="fragments/settings :: settings"></div>
</body>
</html>
